<h1>Message an Owner</h1>

<%= simple_form_for [@friend, @message], url: pet_friendship_messages_path do |f| %>
  <%= f.input :title, as: :text %>
  <%= f.input :body, as: :text %>
  <%= f.button :submit %>
<% end %>


