<h1>Random Pet</h1>

<div class="large-12 columns">
  <div class="row">
    <% @pets.each do |pet| %>
    <div class="large-4 small-6 columns pull-left">
    <p class="beard-title"><%= link_to pet.name, pet_path(pet.id) %></p>
    </div>
    <% end %>
  </div>
</div>

<%= link_to 'Create Pet Profile!', new_pet_path %>
