<h1>My Puppy Pals</h1>

<ul>
  <% @friendships.each do |friendship| %>
    <li>
      <%= friendship.friend.name %>:
      <%= link_to 'Message', new_owner_message_path(current_owner) %>
      (<%= link_to 'Un-Pal', friendship_path(friendship), method: :delete %>)
    </li>
  <% end %>
</ul>

