
 .button-left {
    float: left;
 }

 .button-right {
    float: right;
 }

 .pet-title > a {
  text-align: center;
 }

form {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  text-align: center;
}

img {
display: inline-block;
vertical-align: middle;
}

.large-4 {
  margin-right: auto;
  margin-left: auto;
}

.size-72 { font-size: 72px; }



